{% extends 'twitter_app/index.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container text-center col-4">
    <div class="card">
        <div class="card-body">
    <h4 class="card-title">Edit profile</h4>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% render_field form.first_name|add_class:"form-control" placeholder="Edit first name" %}
        </div>

        <div class="form-group">
            {% render_field form.last_name|add_class:"form-control" placeholder="Edit last name" %}
        </div>

        <button type="submit" class="btn btn-primary">Update</button>

    </form>
        </div>
    </div>
</div>

{% endblock %}
