{% load static %}

<!doctype html>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">

        <li class="nav-item active" align="right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Tweet</button>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add Tweet</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form id="tweet_form" method="post">
                                {% csrf_token %}
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="comment" name="tweet" maxlength="140"></textarea>

                            </div>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info" form="tweet_form">Tweet</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{ user.username }}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% block content %}

{% for article in object_list %}
<li>{{ article.text }} {{ article.creation_date }}</li>
{% empty %}
<li>No articles yet.</li>
{% endfor %}
{% endblock %}
</body>
</html>
